/* --text: #def4fc;
--background: #000000;
--primary: #51c3f0;
--secondary: #063446;
--accent: #2cb6ed; */
body {
  margin: 0;
  background-color: #000000;
}
h1 {
  font-size: 40px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #51c3f0;
  border-radius: 50%;
  border: 10px solid #063446;
  height: 850px;
  width: 850px;
  position: relative;
  
  
}
.clock-2nd-layer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2cb6ed;
  border-radius: 50%;
  width: 700px;
  height: 700px;
}
.clock-center{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000000;
} 
.bline {
  position: absolute;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 690px, black 690px, black 700px);
  width: 8px;
  height: 700px;
}
.aline{
  position: absolute;
  height: 700px;
  width: 4px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 690px, black 690px, black 700px);
}
/* Second Hand */
.second-hand {
  position: absolute;
  width: 4px;
  height: 750px;
  background-color: black;
  text-align: center;
  transform: rotate(240deg);
  background: linear-gradient(to bottom, black 0px, black 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 750px);
}


/* Minute Hand */

.minute-hand{
  position: absolute;
  width: 8px;
  height: 700px;
  background-color: black;
  text-align: center;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, black 0px, black 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 700px);
}


/* Hour Hand */
.hour-hand{
  position: absolute;
  width: 10px;
  height: 550px;
  background-color: black;
  text-align: center;
  transform: rotate(270deg);
  background: linear-gradient(to bottom, black 0px, black 345px, rgba(0, 0, 0, 0) 345px, rgba(0, 0, 0, 0) 550px);
}



.bline:nth-child(1) { transform: rotate(0deg);}
.aline:nth-child(7) { transform: rotate(6deg);}
.aline:nth-child(8) { transform: rotate(12deg);}
.aline:nth-child(9) { transform: rotate(18deg);}
.aline:nth-child(10) { transform: rotate(24deg);}

.bline:nth-child(2) { transform: rotate(30deg);}
.aline:nth-child(11) { transform: rotate(36deg);}
.aline:nth-child(12) { transform: rotate(42deg);}
.aline:nth-child(13) { transform: rotate(48deg);}
.aline:nth-child(14) { transform: rotate(54deg);}

.bline:nth-child(3) { transform: rotate(60deg);}
.aline:nth-child(15) { transform: rotate(66deg);}
.aline:nth-child(16) { transform: rotate(72deg);}
.aline:nth-child(17) { transform: rotate(78deg);}
.aline:nth-child(18) { transform: rotate(84deg);}

.bline:nth-child(4) { transform: rotate(90deg);}
.aline:nth-child(19) { transform: rotate(96deg);}
.aline:nth-child(20) { transform: rotate(102deg);}
.aline:nth-child(21) { transform: rotate(108deg);}
.aline:nth-child(22) { transform: rotate(114deg);}

.bline:nth-child(5) { transform: rotate(120deg);}
.aline:nth-child(23) { transform: rotate(126deg);}
.aline:nth-child(24) { transform: rotate(132deg);}
.aline:nth-child(25) { transform: rotate(138deg);}
.aline:nth-child(26) { transform: rotate(144deg);}

.bline:nth-child(6) { transform: rotate(150deg);}
.aline:nth-child(27) { transform: rotate(156deg);}
.aline:nth-child(28) { transform: rotate(162deg);}
.aline:nth-child(29) { transform: rotate(168deg);}
.aline:nth-child(30) { transform: rotate(174deg);}




.number {
  position: absolute;
  font-size: 45px;
  color: #def4fc;
  transform-origin: 50% 50%;
}

.number:nth-child(1) { transform: rotate(30deg) translateY(-390px); }
.number:nth-child(2) { transform: rotate(60deg) translateY(-390px); }
.number:nth-child(3) { transform: rotate(90deg) translateY(-390px); }
.number:nth-child(4) { transform: rotate(120deg) translateY(-390px); }
.number:nth-child(5) { transform: rotate(150deg) translateY(-390px); }
.number:nth-child(6) { transform: rotate(180deg) translateY(-390px); }
.number:nth-child(7) { transform: rotate(210deg) translateY(-390px); }
.number:nth-child(8) { transform: rotate(240deg) translateY(-390px); }
.number:nth-child(9) { transform: rotate(270deg) translateY(-390px); }
.number:nth-child(10) { transform: rotate(300deg) translateY(-390px); }
.number:nth-child(11) { transform: rotate(330deg) translateY(-390px); }
.number:nth-child(12) { transform: rotate(360deg) translateY(-390px); }



.digital-clock-text {
  color: #def4fc;
  font-size: 100px;
}

/* For Large Laptop display */
@media only screen and (max-width: 1980px) {
  .clock {
    width: 500px;
    height: 500px;
  }
  .digital-clock-text {
    font-size: 60px;
  }
.number{
  font-size: 30px;
}

.number:nth-child(1) { transform: rotate(30deg) translateY(-220px); }
.number:nth-child(2) { transform: rotate(60deg) translateY(-220px); }
.number:nth-child(3) { transform: rotate(90deg) translateY(-220px); }
.number:nth-child(4) { transform: rotate(120deg) translateY(-220px); }
.number:nth-child(5) { transform: rotate(150deg) translateY(-220px); }
.number:nth-child(6) { transform: rotate(180deg) translateY(-220px); }
.number:nth-child(7) { transform: rotate(210deg) translateY(-220px); }
.number:nth-child(8) { transform: rotate(240deg) translateY(-220px); }
.number:nth-child(9) { transform: rotate(270deg) translateY(-220px); }
.number:nth-child(10) { transform: rotate(300deg) translateY(-220px); }
.number:nth-child(11) { transform: rotate(330deg) translateY(-220px); }
.number:nth-child(12) { transform: rotate(360deg) translateY(-220px); }
.clock-2nd-layer{
  width: 390px;
  height: 390px;
}
.bline{
  width: 5px;
  height: 390px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 380px, black 380px, black 390px);
}
.aline{
  height: 390px;
  width: 2.5px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 380px, black 380px, black 390px);
}
/* Second Hand */
.second-hand{
  width: 2.5px;
  height: 420px;
  transform: rotate(270deg);
  background: linear-gradient(to bottom, black 0px, black 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 420px);
}

/* Minute Hand */
.minute-hand{
  width: 5px;
  height: 390px;
  transform: rotate(180deg);
  background: linear-gradient(to bottom, black 0px, black 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 420px);
}

/* Hour Hand */
.hour-hand{
  width: 7px;
  height: 290px;
  transform: rotate(210deg);
  background: linear-gradient(to bottom, black 0px, black 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 290px);
}

}
/* For Smaller Laptop display */
@media only screen and (max-width: 1024px) {
  .clock {
    width: 500px;
    height: 500px;
  }
  .digital-clock-text {
    font-size: 50px;
  }
}
/* For Tablet display */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .clock {
    width: 500px;
    height: 500px;
  }
  .digital-clock-text {
    font-size: 50px;
  }

}
@media only screen and (max-height: 768px) and (orientation: landscape) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .clock {
    width: 450px;
    height: 450px;
  }
  .clock-2nd-layer{
    width: 350px;
    height: 350px;
  }
  .bline{
    width: 5px;
    height: 350px;
    background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 340px, black 340px, black 350px);
  }
  .aline{
    height: 350px;
    width: 2.5px;
    background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 340px, black 340px, black 350px);
  }
  .digital-clock-text {
    font-size: 40px;
  }
  .second-hand{
    width: 3px;
    height: 400px;
    transform: rotate(0deg);
    background: linear-gradient(to bottom, black 0px, black 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 400px);
  }

  /* Minute Hand */
.minute-hand{
  width: 6px;
  height: 350px;
  transform: rotate(270deg);
  background: linear-gradient(to bottom, black 0px, black 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 350px);
}
.hour-hand{
  width: 8px;
  height: 250px;
}
 
.number:nth-child(1) { transform: rotate(30deg) translateY(-200px); }
.number:nth-child(2) { transform: rotate(60deg) translateY(-200px); }
.number:nth-child(3) { transform: rotate(90deg) translateY(-200px); }
.number:nth-child(4) { transform: rotate(120deg) translateY(-200px); }
.number:nth-child(5) { transform: rotate(150deg) translateY(-200px); }
.number:nth-child(6) { transform: rotate(180deg) translateY(-200px); }
.number:nth-child(7) { transform: rotate(210deg) translateY(-200px); }
.number:nth-child(8) { transform: rotate(240deg) translateY(-200px); }
.number:nth-child(9) { transform: rotate(270deg) translateY(-200px); }
.number:nth-child(10) { transform: rotate(300deg) translateY(-200px); }
.number:nth-child(11) { transform: rotate(330deg) translateY(-200px); }
.number:nth-child(12) { transform: rotate(360deg) translateY(-200px); }
}
/* For Mobile display */
@media only screen and (max-width: 425px) and (orientation: portrait) {
  .clock {
    width: 300px;
    height: 300px;
  }
  .digital-clock-text {
    font-size: 40px;
  }
  .number{
    font-size: 15px;
  }
.number:nth-child(1) { transform: rotate(30deg) translateY(-135px); }
.number:nth-child(2) { transform: rotate(60deg) translateY(-135px); }
.number:nth-child(3) { transform: rotate(90deg) translateY(-135px); }
.number:nth-child(4) { transform: rotate(120deg) translateY(-135px); }
.number:nth-child(5) { transform: rotate(150deg) translateY(-135px); }
.number:nth-child(6) { transform: rotate(180deg) translateY(-135px); }
.number:nth-child(7) { transform: rotate(210deg) translateY(-135px); }
.number:nth-child(8) { transform: rotate(240deg) translateY(-135px); }
.number:nth-child(9) { transform: rotate(270deg) translateY(-135px); }
.number:nth-child(10) { transform: rotate(300deg) translateY(-135px); }
.number:nth-child(11) { transform: rotate(330deg) translateY(-135px); }
.number:nth-child(12) { transform: rotate(360deg) translateY(-135px); }
.clock-2nd-layer{
  width:  230px;
  height: 230px;
}
.bline{
  width: 4px;
  height: 230px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 220px, black 220px, black 230px);
}
.aline{
  height: 230px;
  width: 2px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 220px, black 220px, black 230px);
}
.second-hand{
  width: 2px;
  height: 250px;
  transform: rotate(90deg);
  background: linear-gradient(to bottom, black 0px, black 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 250px);
}

  /* Minute Hand */
  .minute-hand{
    width: 4px;
    height: 230px;
    transform: rotate(180deg);
    background: linear-gradient(to bottom, black 0px, black 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 230px);
  }

  /* Hour Hand */
  .hour-hand{
    height: 150px;
    width: 4.5px;
    background: linear-gradient(to bottom, black 0px, black 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 230px);
  }

}

@media only screen and (max-height: 425px) and (orientation: landscape) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .clock {
    width: 300px;
    height: 300px;
  }
  .digital-clock-text {
    font-size: 40px;
  }
  .number{
    font-size: 15px;
  }
.number:nth-child(1) { transform: rotate(30deg) translateY(-135px); }
.number:nth-child(2) { transform: rotate(60deg) translateY(-135px); }
.number:nth-child(3) { transform: rotate(90deg) translateY(-135px); }
.number:nth-child(4) { transform: rotate(120deg) translateY(-135px); }
.number:nth-child(5) { transform: rotate(150deg) translateY(-135px); }
.number:nth-child(6) { transform: rotate(180deg) translateY(-135px); }
.number:nth-child(7) { transform: rotate(210deg) translateY(-135px); }
.number:nth-child(8) { transform: rotate(240deg) translateY(-135px); }
.number:nth-child(9) { transform: rotate(270deg) translateY(-135px); }
.number:nth-child(10) { transform: rotate(300deg) translateY(-135px); }
.number:nth-child(11) { transform: rotate(330deg) translateY(-135px); }
.number:nth-child(12) { transform: rotate(360deg) translateY(-135px); }
.clock-2nd-layer{
  width:  230px;
  height: 230px;
}
.bline{
  width: 4px;
  height: 230px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 220px, black 220px, black 230px);
}
.aline{
  height: 230px;
  width: 2px;
  background: linear-gradient(to bottom, black 0px, black 10px, #2cb6ed 10px, #2cb6ed 220px, black 220px, black 230px);
}
.second-hand{
  width: 2px;
  height: 250px;
  transform: rotate(102deg);
  background: linear-gradient(to bottom, black 0px, black 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 250px);
}
  /* Minute Hand */
  .minute-hand{
    width: 4px;
    height: 230px;
    transform: rotate(180deg);
    background: linear-gradient(to bottom, black 0px, black 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 2230px);
  }
  /* Hour Hand */
  .hour-hand{
    height: 150px;
    width: 4.5px;
    background: linear-gradient(to bottom, black 0px, black 100px, rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 230px);
  }
}
